.input {
  outline: none;
  border: none;
  width: 370px;
  padding: 15px;
  border-radius: 10px;
  background-color: #edf5f3;
  margin: 5px 0;
  font-size: 14px;
}
.error {
  color: red;
}
.SignUP_content {
  background: transparent;
  background-color: rgb(189, 178, 242);
  width: 600px;
  margin-top: 50px;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  display: inline-block;
}
.SignUP_titile {
  margin-top: 20px;
}
